<div id="header">
  <img id="logo" src="<%= asset_path 'logo.png' %>"/>
</div>
<p id="p-prompt">Tell me a little bit about yourself...</p>
<div id="p-inputs">
  <label for="p-height">Height</label>
  <input id="p-height" placeholder="in inches" required></input>
  <label for="p-weight">Weight</label>
  <input id="p-weight" placeholder="in lbs" required></input>
</div>

