<h1>CatDog</h1>
<p>Tell me a little bit about yourself...</p>
<div>
  <label for="p-height">Height</label>
  <input id="p-height" placeholder="in inches" required></input>
  <label for="p-weight">Weight</label>
  <input id="p-weight" placeholder="in lbs" required></input>
</div>

