// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}

#header {
  padding: 5%;
  display: block;
  background-color: lightblue;
}

#logo {
  display: block;
  margin: auto;
  border: 3px dashed darkgray;
}

#p-prompt {
  padding-left: 3%;
}

#p-inputs {
  display: block;
  margin: auto;
  text-align: center;

  label {
    padding-right: 9%;
  }

  input {
    padding: .8%;
  }

  .submit {
    cursor: pointer;
    padding: 1%;
    border: none;
    outline: none;
    background: orange;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    &:hover {
      background: rgba(250,192,87, 0.8);
    }
    &:active {
      transform: scale(0);
    }
  }
}