// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show-header {
  padding: 5%;
  display: block;
  background-color: orange;
}

#p-prediction {
  display: block;
  margin: auto;
  padding: 11%;
  text-align: center;
  background-color: lightblue;
}

#footer {
  display: block;
  margin: auto;
  padding: 2%;

  img {
    height: 8%;
    width: 8%;
  }
}